// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 30px
}

.letter {
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 1px #DDDDDD;
}
